{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block active_settings %}active{% endblock %}


{% block body %}

<a class="v-payment-sbp-bank-select-item" href="100000000004://qr.nspk.ru/AD100038D3MA5K089T2B45H6V8RAF0LR?type=02&bank=100000000004&sum=99000&cur=RUB&crc=3AC2#Intent;scheme=bank100000000004;end" target="_blank">
    <div class="v-payment-sbp-bank-select-item__logo-wrapper"><img src="https://be.cdn.yclients.com/js/vue-app/img/bank100000000111.749f4cb5.png" class="v-payment-sbp-bank-select-item__logo"></div><div class="v-payment-sbp-bank-select-item__title">Сбербанк</div><div class="v-payment-sbp-bank-select-item__icon"><i class="q-icon my-icon-arrow-right" aria-hidden="true" role="presentation" style="font-size: 24px;"> </i></div>
</a>



{% endblock %}
